<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ci.mapper.GoodMapper">

    <resultMap id="GoodMap" type="com.ci.pojo.entity.Good">
        <id property="goodId" column="good_id"/>
        <result property="subtitle" column="sub_title"/>
        <result property="cateId" column="cate_id"/>
        <result property="mainImage" column="main_image"/>
        <result property="subImages" column="sub_images"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="add">
        insert into goods (good_id, cate_id, name, sub_title, main_image, sub_images, detail, price, stock, status,
                           create_time, update_time)
        values (#{goodId}, #{cateId}, #{name}, #{subTitle}, #{mainImage}, #{subImages}, #{detail}, #{price}, #{stock},
                #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="getAll" resultMap="GoodMap">
        select *
        from goods
    </select>
    <select id="getById" resultMap="GoodMap">
        select *
        from goods
        where good_id = #{goodId}
    </select>

    <delete id="deleteByGoodId">
        delete from goods
        where good_id = #{goodId}
    </delete>

    <update id="updateGood">
        update goods
        <set>
            <if test="cateId != null">cate_id = #{cateId}</if>
            <if test="name != null">name = #{name}</if>
            <if test="subTitle != null">sub_title = #{subTitle}</if>
            <if test="mainImage != null">main_image = #{mainImage}</if>
            <if test="subImages != null">sub_images = #{subImages}</if>
            <if test="detail != null">detail = #{detail}</if>
            <if test="price != null">price = #{price}</if>
            <if test="stock != null">stock = #{stock}</if>
            <if test="status != null">status = #{status}</if>
            <if test="createTime != null">create_time = #{createTime}</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where good_id = #{goodId}
    </update>

</mapper>